<?xml version="1.0" encoding="UTF-8"?>
<config>
	<register>
		<HTTPConnector event="test" id="1" url='http://localhost:8080/logging-app/XMLEventExample'/>
		<HTTPConnector event="callback" id="2" url='http://localhost:8080/callback-app/XMLCallback'/>
		<!-- <XPathFilter event="test" id="1" path="//test[@id = 1]">
			<HTTPConnector url='http://localhost:8080/xml-logging-app/XMLEventExample'/>
		</XPathFilter> -->
	</register>
</config>