<?xml version="1.0" encoding="UTF-8"?>
<config>
	<register>
		<!-- <HTTPService event="log" id="1" url='http://localhost:8080/xml-logging-app/XMLEventExample'/> -->
		<HTTPService event="log" id="2" streaming="True" url='http://localhost:8080/xml-logging-app/XMLEventExample'/>
		<!-- <XPathFilter event="test" id="1" path="//test[@id = 1]">
			<HTTPService url='http://localhost:8080/xml-logging-app/XMLEventExample'/>
		</XPathFilter> -->
	</register>
</config>