<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
<display-name>tomcat</display-name>
   <servlet>
    <display-name>Bank</display-name>
    <servlet-name>Bank</servlet-name>
    <servlet-class>xml.eventbroker.shop.Bank</servlet-class>
      <init-param>
      <param-name>xmlbroker</param-name>
      <param-value>${container-base-url}/broker/XMLEventBroker</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bank</servlet-name>
    <url-pattern>/Bank/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mail</display-name>
    <servlet-name>Mail</servlet-name>
    <servlet-class>xml.eventbroker.shop.Mail</servlet-class>
    <init-param>
      <param-name>xmlbroker</param-name>
      <param-value>${container-base-url}/broker/XMLEventBroker</param-value>
    </init-param>   
  </servlet>
  <servlet-mapping>
    <servlet-name>Mail</servlet-name>
    <url-pattern>/Mail/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParcelService</display-name>
    <servlet-name>ParcelService</servlet-name>
    <servlet-class>xml.eventbroker.shop.ParcelService</servlet-class>
    <init-param>
      <param-name>xmlbroker</param-name>
      <param-value>${container-base-url}/broker/XMLEventBroker</param-value>
    </init-param>    
  </servlet>
  <servlet-mapping>
    <servlet-name>ParcelService</servlet-name>
    <url-pattern>/ParcelService/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Shop</display-name>
    <servlet-name>Shop</servlet-name>
    <servlet-class>xml.eventbroker.shop.Shop</servlet-class>
    <init-param>
      <param-name>xmlbroker</param-name>
      <param-value>${container-base-url}/broker/XMLEventBroker</param-value>
    </init-param>    
  </servlet>
  <servlet-mapping>
    <servlet-name>Shop</servlet-name>
    <url-pattern>/Shop/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TimerService</display-name>
    <servlet-name>TimerService</servlet-name>
    <servlet-class>xml.eventbroker.shop.TimerService</servlet-class>
    <init-param>
      <param-name>xmlbroker</param-name>
      <param-value>${container-base-url}/broker/XMLEventBroker</param-value>
    </init-param>   
  </servlet>
  <servlet-mapping>
    <servlet-name>TimerService</servlet-name>
    <url-pattern>/TimerService</url-pattern>
  </servlet-mapping>
</web-app>