<?xml version="1.0" encoding="UTF-8"?>
<config>
	<register>
		<HTTPConnector event="test" uri="log/test"
			url='${container-base-url}/logging-app/XMLEventExample' />
		<HTTPConnector event="request" uri="log/request"
			url='${container-base-url}/logging-app/XMLEventExample' />
		<HTTPConnector event="callback" uri="log/callback"
			url='${container-base-url}/logging-app/XMLEventExample' />
		<HTTPConnector event="callback" uri="callback"
			url='${container-base-url}/callback-app/XMLCallback' />
		<HTTPConnector event="request" uri="echo/request"
			url='${container-base-url}/callback-app/SimpleReply' />
		<HTTPConnector event="jython" uri="evaluate/jython"
			url='${container-base-url}/callback-app/JythonReply' />
		<HTTPConnector event="jython" uri="log/jython"
			url='${container-base-url}/logging-app/XMLEventExample' />
		<XPathFilter event="test" uri="log/filtered/test" filter="@id = 1">
			<HTTPConnector url='${container-base-url}/logging-app/XMLEventExample' />
		</XPathFilter>
		<HTTPConnector event="mail" uri="mail/1"
			url='${container-base-url}/shop-apps/Mail' />
		<HTTPConnector event="transfer" uri="transfer/1"
			url='${container-base-url}/shop-apps/Bank' />
		<HTTPConnector event="shop" uri="/XMLEventExample/1"
			url='${container-base-url}/shop-apps/XMLEventExample' />
		<HTTPConnector event="parcel" uri="parcel-service/1"
			url='${container-base-url}/shop-apps/ParcelService' />
		<HTTPConnector event="alarm" uri="parcel/service/2"
			url='${container-base-url}/shop-apps/ParcelService' />
		<HTTPConnector event="alarm-registration" uri="timer-service/1"
			url='${container-base-url}/shop-apps/TimerService' />
	</register>
</config>