<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0"> 
  <display-name>broker-servlet-app</display-name>
  <session-config>
  	<session-timeout>20</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>XMLEventExample</display-name>
    <servlet-name>XMLEventExample</servlet-name>
    <servlet-class>xml.eventbroker.example.ExampleService</servlet-class>
    <async-supported>true</async-supported>
  </servlet>
  <servlet-mapping>
    <servlet-name>XMLEventExample</servlet-name>
    <url-pattern>/XMLEventExample</url-pattern>
  </servlet-mapping>
</web-app>