<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>broker-servlet-web</display-name>
  <servlet>
    <description></description>
    <display-name>XMLEventBroker</display-name>
    <servlet-name>XMLEventBroker</servlet-name>
    <servlet-class>xml.eventbroker.XMLEventBroker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XMLEventBroker</servlet-name>
    <url-pattern>/XMLEventBroker/*</url-pattern>
  </servlet-mapping>

</web-app>